<div class="sideBar">
  {% if page.property %}
  <h1>Availability</h1>
  <table id="availability">
    <tbody>
      <tr>
        <td>
          <h2>Date</h2>
        </td>
        <td>
          <h2>Cost</h2>
        </td>
      </tr>
    </tbody>
  </table>
  {% endif %}

  <h1>Contact Us</h1>
  <ul class="listContacts">
    <li class="mobile">
      <strong>Phone</strong>
      <div>(609) 625-9106<br /></div>
    </li>
    <li class="mobile">
      <strong>Cell</strong>
      <div>(609) 335-1006<br /></div>
    </li>
    <li>
      <strong>Address</strong>
      <div>266 Old River Road<br />
        Mays Landing, NJ 08330
      </div>
    </li>
    <li>
      <strong>E-mail</strong>
      <div>rentals@peartreerun.com</div>
    </li>
  </ul>
</div>
